# Database (Apunta a AWS RDS en Producción)
# Ejemplo AWS: postgresql://admin:StrongPassword@devmetrics-db.xxxx.us-east-1.rds.amazonaws.com:5432/devmetrics
DATABASE_URL=postgresql://postgres:password@localhost:5432/devmetrics
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=devmetrics

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5001
MLFLOW_EXPERIMENT_NAME=technical_debt_prediction

# Model
MODEL_PATH=./models
FEATURE_STORE_TTL=86400  # 24 horas en segundos